{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="title">{{fight.red}} vs. {{fight.blue}}</h1>
    <div class="content">
        In the red corner: {{fight.red}} <br><br>
        In the blue corner: {{fight.blue}}
    </div>
    <div class="is-flex is-justify-content-center">

        <div class="buttons">
            <form action="{% url 'redvote' fight.pk %}" method="POST">
                {% csrf_token %}
                <button class="button is-danger" name="fight_id" value="{{fight.pk}}">Vote for {{fight.red}}</button>
            </form>
            <form action="{% url 'bluevote' fight.pk %}" method="POST">
                {% csrf_token %}
                <button class="button is-info" name="fight_id" value="{{fight.pk}}">Vote for {{fight.blue}}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}